.titleBar{
	width: 100vw;
	height: 3rem;
	position: relative;
	top: 0;
	background-color: white;
	z-index: 2;
	font-family: monospace;
	display: flex;
	justify-content: center;
}
.navItemHome {
	font-size: 25px;
	font-weight: bold;
	padding: 5px;

	text-align: center;
}

.navBar{
	width: 100vw;
	height: 3rem;
	position: -webkit-sticky;
  	position: relative;
	top: 0;
	background-color: white;
	z-index: 2;
	font-family: monospace;
}

.navBar a{
	color: black;
}
.navBarNav{
	width: 100vw;
	list-style: none;
	padding: 0;
	margin: 0;
	display:flex;
	justify-content: center;
}


.navItemHome:hover,
.navItemHome:focus,
.navItemHome:active {
	background-color: whitesmoke;
}


.navItem {

	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.navItem:hover,
.navItem:focus,
.navItem:active {
	background-color: whitesmoke;
}
.navItemMain {
	font-size: 20px;
	padding-left: 16px;
	margin-left: auto;
}

.navItemMain:hover,
.navItemMain:focus,
.navItemMain:active {
	background-color: whitesmoke;
}