html,
body {
  padding: 0;
  margin: 0;
  font-family: 'bariol', sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.02em;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
	text-decoration: none;
  color: #0057bb
}

 *{
  box-sizing: border-box;
}