html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
	text-decoration: none;
  color: #0057bb
}

 *{
  box-sizing: border-box;
}
